# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
.venv/
.env
*.env

# Node/Vite (por si hay frontend)
node_modules/
dist/
.vite/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Docker
*.pid
*.tar
docker-data/

# Tu app
uploads/
output/

# Git
*.orig
